
pandas>=2.0
numpy>=1.26


requests>=2.31
beautifulsoup4>=4.12
lxml>=4.9


transformers>=5.0
torch>=2.1
sentence-transformers>=2.2
huggingface_hub>=0.18


matplotlib>=3.8
seaborn>=0.12


notebook>=7.0
ipython>=8.16


tqdm>=4.66